

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GOOGLE SEARCHES WIDGET IFRAME */
#trends-widget-1 {
    height: 400px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}
.jumbotron {
    padding-bottom: 20px;
}
/* SELECT CHILD ELEMENTS 2,3,4 IN EACH TABLE ROW  */
.dynamic-text, tr > :nth-child(2), tr > :nth-child(3), tr > :nth-child(4),  {
    font-family: 'Orbitron', sans-serif;
    color: red;
}
table small {
    font-weight: lighter;
}


/* DIDN'T WORK */
/*@font-face {
    font-family: Digital;
    src: url('djb-get-digital.ttf');
}
.digital-font {
    font-family: Digital;
}*/
